$color-primary: #f55951;
$color-secondary: #2b2b2b;
$color-tertiary: #5e5e5e;
$color-quaternary: #cecece;
$color-success: #4CAF50;
$color-danger: #F44336;
$color-warning: #FFC107;
$color-info: #2196F3;
$color-light: #fefaf6;
$color-dark: #2b2b2b;