<header class="bg-gray-800">
    <nav class="flex justify-between items-center w-[92%] h-[8%]  mx-auto">
        <div>
            <img class="w-16 cursor-pointer" src="../../public/assets/Image/logo.svg" alt="...">
        </div>
        <div
            class=" text-white text-lg nav-links duration-500 md:static absolute md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
            <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                <li>
                    <a class="hover:text-button-hover" href="/">Home</a>
                </li>

            </ul>
        </div>
        <div class="flex items-center gap-6 my-2">
            <button class="bg-button text-white text-lg px-5 py-2 rounded-full hover:bg-button-hover">Sign in</button>
            <button onclick="onToggleMenu(this)" class="md:hidden"><i name="menu" class="fa-solid fa-bars"></i></button>
        </div>
    </nav>
</header>
<script>
    const navLinks = document.querySelector('.nav-links')
    function onToggleMenu(e) {
        e.name = e.name === 'menu' ? 'close' : 'menu'
        navLinks.classList.toggle('top-[8%]')
    }
</script>