<div class="container flex items-center justify-center h-screen  ">
    <div class="bg-white shadow-lg rounded-lg md:grid md:grid-cols-2 ">
        <div class="">
        </div>
        <div class="m-auto">
            <form class="p-4" id="login-form">
                <h1 class="text-2xl font-bold mb-4 text-center">Login</h1>
                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                    <input type="email" name="email" id="email"
                        class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                    <input type="password" name="password" id="password"
                        class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                </div>
                <div class="mb-4">
                    <button type="submit"
                        class="w-full bg-button text-white py-2 px-4 rounded hover:bg-button-hover">Login</button>
                </div>
                <div class="mb-4">
                    <a href="#" data-target="customer-register" class="text-gray-500">Don't have an account? Register</a>
                </div>
            </form>
        </div>
    </div>

</div>